@page "/"
@using BankMauiApp.Services
@inject NavigationManager NavigationManager
@inject UserService UserService

<h3>Welcome to your Dashboard</h3>

<p>Here is your user dashboard.</p>

<button @onclick="Logout">Logout</button>
<button @onclick="Debts">Debts</button>
<button @onclick="Transactions">Transactions</button>

@code {
    private void Logout()
    {
        UserService.Logout();
        NavigationManager.NavigateTo("/login");
    }

    private void Debts()
    {
        NavigationManager.NavigateTo("/debts");
    }

    private void Transactions()
    {
        NavigationManager.NavigateTo("/transactions");
    }
}